{% extends "base_auth.html" %}

{% load utils_templating %}
{% block content_auth %}
{% if allow_signup %}
<div class="card-content">
  <form method="post" action="{% url 'login' %}">
    {% if form.errors %}
    {% endif %}

    {% if message %}
    <p style="color: red">{{ message }}</p>
    <br>
    {% endif %}
    {% if form.errors %}
    <p style="color: red">Le nom d'utilisateur et le mot de passe ne sont pas valides. Veuillez recommencer</p>
    {% endif %}

    {% csrf_token %}
    {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label_tag }}</label>
      <div class="control">
        {{ field|addcss:'input'  }}
        {% if field.help_text %}
        <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div style="text-align:center">
      <button type="submit" class=" relative inline-flex uppercase btn--white text-red rounded -ml-4 lg:-ml-6 border border-red px-4 lg:px-6 py-2">
        <span class="btn-overlay--red"></span>
        <span class="relative">Se connecter</span>
      </button>
    </div>
    <div class="field">
      <span class="checkbox" style="margin-top:30px">
        Pas de compte ? <a href="{% url 'signup' %}"> S'inscrire </a>
      </span>
      <span class="checkbox" style="margin-top:30px">
        Mot de passe oublié ? <a href="{% url 'password_reset' %}"> Réinitialiser </a>
      </span>
    </div>
  </form>
</div>
{% else %}
<p>No login form, please contact the admin piaf@data.gouv.fr (we're sorry for this issue)</p>
{% endif %}
{% endblock %}
