{% extends "base_auth.html" %}

{% block content_auth %}
<div class="card-content">
  <p>
    Nous vous avons envoyé les instructions pour réinitialiser votre mot de passe, s'il existe un compte correspondant à votre adresse email.
    Vous devriez le recevoir rapidement.
  </p>
  <p>
    Si vous ne recevez pas notre email, vous pouvez vérifier que vous avez mis l'adresse avec laquelle vous vous êtes enregistrés, et regarder dans le dossier spam.
  </p>
</div>
<div class="field" style="margin-top:30px;text-align:center;">
  <span class="checkbox">
    <a href="{% url 'login' %}"> Se connecter </a>
  </span>
</div>
{% endblock %}
