{% extends "base_auth.html" %}

{% load utils_templating %}
{% load widget_tweaks %}
{% block content_auth %}
<div class="card-content">
  <div style="text-align:center;font-size:1.5em">
    <h2>Mot de passe oublié ?</h2>
  </div>
  <div>
    <p>Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
  </div>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="field">
      <div class="control"  style="text-align:center;">
        {{ field|addcss:'input'  }}
      </div>
    </div>
    {% endfor %}
    <div style="text-align:center">
      <button type="submit" class="button is-block is-primary is-fullwidth is-middle">Réinitialiser mon mot de passe</button>
    </div>
  </form>

</div>
{% endblock %}
