{% extends "base_auth.html" %}

{% load utils_templating %}
{% block content_auth %}
{% if validlink %}
<div class="card-content">
  <div style="text-align:center;font-size:1.5em;margin-bottom:10px;">
    <h2>Changer de mot de passe</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <label class="label">{{ field.label_tag }}</label>
    <div class="field">
      <div class="control"  style="text-align:center;">
        {{ field|addcss:'input'  }}
      </div>
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}
    <div style="text-align:center">
      <button type="submit"
        class=" relative inline-flex uppercase btn--white text-red rounded -ml-4 lg:-ml-6 border border-red px-4 lg:px-6 py-2">
        <span class="btn-overlay--red"></span>
        <span class="relative">Changer de mot de passe</span>
      </button>
    </div>
  </form>

</div>
{% else %}
<div class="card-content">
  Le lien pour renouveler votre mot de passe est invalide. Certainement car il a déjà été utilisé. Vous pouvez tenter de réiterer la demande.
</div>
{% endif %}
{% endblock %}
