{% extends "base_auth.html" %}

{% block content_auth %}
{% if validlink %}
<div class="card-content">
  <div style="text-align:center;font-size:1.5em">
    <h2>Changer de mot de passe</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="text-align:center">
      <button type="submit" class="button is-link">Changer de mot de passe</button>
    </div>
  </form>

</div>
{% else %}
<div class="card-content">
  Le lien pour renouveler votre mot de passe est invalide. Certainement car il a déjà été utilisé. Vous pouvez tenter de réiterer la demande.
</div>
{% endif %}
{% endblock %}
