{% extends "base_auth.html" %}

{% load utils_templating %}
{% load widget_tweaks %}
{% block content_auth %}
<div class="card-content">
  <div style="text-align:center;font-size:1.5em">
    <h2>Mot de passe oublié ?</h2>
  </div>
  <div>
    <p>Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
  </div>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="field">
      <div class="control"  style="text-align:center;">
        {{ field|addcss:'input'  }}
      </div>
    </div>
    {% endfor %}
    <div style="text-align:center">
      <button type="submit"
        class=" relative inline-flex uppercase btn--white text-red rounded -ml-4 lg:-ml-6 border border-red px-4 lg:px-6 py-2">
        <span class="btn-overlay--red"></span>
        <span class="relative">Réinitialiser mon mot de passe</span>
      </button>
    </div>
  </form>

</div>
{% endblock %}
