{% extends "base_auth.html" %}

{% load utils_templating %}
{% block content_auth %}
{% if allow_signup %}
<div class="card-header is-shadowless">
  <p>Il est nécessaire de vous inscrire pour pouvoir contribuer au projet. Ceci permet de garantir l'honnêteté et la qualité des annotations saisies. Nous ne ferons rien de votre email (<a href="https://etalab.github.io/piaf-site/cgu.html">voir les CGU</a>).
  </p>
</div>
<div class="card-content">
  <!-- <div style="text-align:center;font-size:1.5em">
    <h2>Sign up</h2>
  </div> -->
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="field">
      <label class="label">{{ field.label_tag }}</label>
      <div class="control">
        {{ field|addcss:'input'  }}
        {% if field.help_text %}
        <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
    <div style="text-align:center">
      <button type="submit"
        class=" relative inline-flex uppercase btn--white text-red rounded -ml-4 lg:-ml-6 border border-red px-4 lg:px-6 py-2">
        <span class="btn-overlay--red"></span>
        <span class="relative">Inscription</span>
      </button>
    </div>
    <div class="field">
      <span class="checkbox" style="margin-top:30px">
        Déjà un compte ? <a href="{% url 'login' %}"> Se connecter </a>
      </span>
    </div>
  </form>
</div>

{% else %}
<div class="card-content">
  <div>
    Vous ne pouvez pas vous enregistrer vous-même. Il faudra contacter un membre de Piaf pour avoir votre nom d'utilisateur et votre mot de passe ! piaf@data.gouv.fr
  </div>
</div>
{% endif %}
{% endblock %}
