{% extends "base_auth.html" %}

{% block content_auth %}
<div class="card-content">
  <p>
    Merci pour votre implication! Votre participation est précieuse à la réussite de Piaf. Nous vous avons <span>envoyé les instructions pour activer votre compte par email</span>.
  </p>
  <br>
  <p>
    Si vous ne recevez pas notre email, vous pouvez regarder dans votre dossier spam, et vérifier que vous avez enregistré la bonne adresse email.
  </p>
  <br>
  <a href="https://piaf.etalab.studio/" class="button is-primary is-block is-middle">Retour</a>
</div>
{% endblock %}
