[report]
omit =
  src/app/wsgi.py
  src/classifier/*
  src/server/migrations/*
  src/server/templatetags/*
  src/server/tests/*
  src/api/migrations/*
  src/api/tests/*
  src/authentification/tests/*
  src/authentification/templatetags/*

exclude_lines =
  pragma: no cover
  if __name__ == .__main__.
  def __str__
  raise NotImplementedError

fail_under = 90
