*
!src/
!tests/
!tools/
!.coveragerc
!.flake8
!requirements.txt

src/**/bundle/
src/**/node_modules/
src/**/webpack-stats.json

src/**/*.sqlite3
src/**/.env
src/**/junitxml/
src/**/staticfiles/
src/**/venv/
src/**/__pycache__/
tests/**/__pycache__/
