@font-face {
  font-family: "cooperhewitt light";
  src: url("~@/assets/cooperhewitt-light.woff2") format("woff2");
}

@font-face {
  font-family: "cooperhewitt medium";
  src: url("~@/assets/cooperhewitt-medium.woff2") format("woff2");
}
