{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<section class="hero container has-text-centered">
  <div class="columns hero-body">
    <div class="column is-4 is-offset-4">
      <div class="box has-text-left">
        {% if form.errors %}
        <p style="padding-bottom:20px">Nom d'utilisateur ou mot de passe inconnu. Veuillez recommencer.</p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p style="padding-bottom:20px">Vous n'avez pas accès à cette page. Veuillez vous connecter pour y accéder.</p>
        {% else %}
        <p style="padding-bottom:20px">Veuillez vous connecter</p>
        {% endif %} {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field ">
            <label class="label">Nom d'utilisateur</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.username|add_class:"input" }}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Mot de passe</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.password|add_class:"input"}}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <!-- <div class="field">
            <label class="checkbox">
              <input type="checkbox"> Remember me
            </label>
          </div> -->
          <input class="button is-block is-primary is-middle is-fullwidth" type="submit" value="Se connecter" />
          {% if allow_signup %}
          <div class="field">
            <span class="checkbox" style="margin-top:10px">
              Pas de comptesse ? <a href="{% url 'signup' %}"> Inscription </a>
            </span>
          </div>
          {% endif %}
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
