{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
{% endblock %}

{% block content %}
<section class="hero" style="background-color:#2a2e2f">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <h1 class="title is-1 has-text-white">Apprendre aux machines le français</h1>
        <h2 class="subtitle is-4 has-text-white">Contribuez à ce que les IA puissent comprendre le français aussi bien que l'anglais.</h2>
        <p>
          <a href="{% url 'demo-named-entity-recognition' %}" class="button is-medium is-primary">
            Participez
          </a>
        </p>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="{% static 'assets/images/preview.png' %}">
        </figure>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="https://github.com/Etalab/piaf">Piaf</a> by
        <a href="https://github.com/guillim">Guillim</a> | <a href="https://github.com/Etalab">Etalab</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        <br>
      </p>
    </div>
  </div>
</footer>
{% endblock %}

{% block footer %}
{% render_bundle 'index' 'js' %}
{% endblock %}
