{% load static %}
{% load analytics %}
<!DOCTYPE html>
<html>
<head>
  {% google_analytics %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Piaf - Pour une IA francophone</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-divider/dist/css/bulma-divider.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-checkradio/dist/css/bulma-checkradio.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-tooltip/dist/css/bulma-tooltip.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/forum.css' %}">
  {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'assets/images/logo.png' %}" width="32" height="32">
          <b>piaf</b>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topNav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        {% block navigation %}{% endblock %}
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-end">
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'app:index' %}">
            <span>Participez</span>
          </a>
          {% endif %}
          {% if not user.is_authenticated %}
          <a class="navbar-item" href="{% url 'login' %}">
            <span>Se connecter</span>
          </a>
          {% else %}
          <a class="navbar-item" href="{% url 'logout' %}">
            <span>Se déconnecter</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}
</body>
</html>
