{% load static %}
{% load analytics %}
<!DOCTYPE html>
<html>
<head>
  {% google_analytics %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Piaf - Pour une IA francophone</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" crossorigin="anonymous">

  <meta name="theme-color" content="#ffffff">
  {% block header %}{% endblock %}
</head>

<body>
  {% if user.is_superuser and 'project_id' in view.kwargs %}
  <nav class="navbar has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'assets/images/logo.png' %}" width="32" height="32">
          <b>piaf</b>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topNav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        {% block navigation %}{% endblock %}
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-end">
          {% if not user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span>Live Demo</span>
            </a>
            <div class="navbar-dropdown">
              <a href="{% url 'demo-text-classification' %}" class="navbar-item">
                Sentiment Analysis
              </a>
              <a href="{% url 'demo-named-entity-recognition' %}" class="navbar-item">
                Named Entity Recognition
              </a>
              <a href="{% url 'demo-translation' %}" class="navbar-item">
                Translation
              </a>
            </div>
          </div>
          <a class="navbar-item" href="https://github.com/etalab/piaf">
            <span>GitHub</span>
          </a>
          {% endif %}
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'projects' %}">
            <span>Projects</span>
          </a>
          {% endif %}
          {% if not user.is_authenticated %}
          <a class="navbar-item" href="{% url 'login' %}">
            <span>Login</span>
          </a>
          {% else %}
          <a class="navbar-item" href="{% url 'logout' %}">
            <span>Logout</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  {% endif %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}
</body>
</html>
